@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Akzidenz Grotesk BQ - Bd Cnd";
  src: local("Akzidenz-Grotesk BQ Bold Condensed"), local("../fonts/Akzidenz-Grotesk-BQ-Bold-Condensed"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff2") format("woff2"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff"), url("../fonts/AkzidenzGroteskBQ-BdCnd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top-lang__item {
  color: #000000;
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 15px;
}
.header-top-lang__item:last-child {
  margin-right: 0;
}
.header-top-lang__item.active {
  display: inline-block;
  padding: 0 2px;
  height: 13px;
  line-height: 13px;
  color: #fff;
  background-color: #000;
}

.header-top__link {
  position: relative;
  z-index: 5;
  color: #000000;
  font-family: "Akzidenz Grotesk BQ - Bd Cnd";
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
}

.header-bottom-menu-list {
  display: flex;
}
.header-bottom-menu-list li {
  margin-right: 30px;
}
.header-bottom-menu-list li:last-child {
  margin-right: 0;
}

.header-logo {
  display: block;
  text-align: center;
  position: relative;
  z-index: 5;
}
.header-logo .header-logo__text {
  display: block;
  color: #000000;
  font-family: Bebas;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 8px;
  letter-spacing: 2.72px;
}

.header-bottom-menu__link {
  font-size: 15px;
  color: #000000;
  font-family: "Akzidenz Grotesk BQ - Bd Cnd";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.header-bottom-menu__link:last-child {
  margin-right: 0;
}

.header-menu__icon {
  display: none;
}

@media (max-width: 767.98px) {
  .private-body {
    padding-left: 10px !important;
  }

  .private__column:last-child {
    flex: 1 1 100%;
  }

  .private__column:first-child {
    display: none;
  }

  .header-top {
    justify-content: flex-end;
  }

  .header-bottom {
    justify-content: center;
  }

  .header-menu__icon {
    display: block;
    position: absolute;
    height: 18px;
    width: 30px;
    top: 18px;
    left: 20px;
    z-index: 5;
  }
  .header-menu__icon span {
    transition: all 0.2s ease-in 0s;
    position: absolute;
    top: 8px;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .header-menu__icon span:first-child {
    top: 0;
  }
  .header-menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .header-menu__icon.active span {
    transform: scale(0);
  }
  .header-menu__icon.active span:first-child {
    transform: rotate(45deg);
    top: 8px;
  }
  .header-menu__icon.active span:last-child {
    transform: rotate(-45deg);
    bottom: 8px;
  }

  .wrapper {
    overflow: hidden;
  }

  .header-menu {
    transition: all ease 0.3s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -120%;
    overflow: auto;
    background-color: #fff;
    padding: 95px 10px 0px 10px;
    z-index: 1;
  }
  .header-menu.active {
    left: 0;
  }

  .header-bottom-menu-list {
    flex-direction: column;
  }
  .header-bottom-menu-list li {
    margin-top: 20px;
  }
}
.btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  font-family: Bebas;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #000;
  padding: 0 30px;
}
.btn.--w {
  color: #000;
  background-color: #fff;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.form-row {
  display: flex;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.btn {
  height: 50px;
  line-height: 50px;
  background-color: #000;
  display: inline-block;
  padding: 0px 33px;
  font-size: 15px;
  font-family: "Bebas";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
}
.btn--w {
  background-color: #ffffff;
  color: #000;
}
.btn.fw {
  width: 100%;
}

.select-block {
  position: relative;
}

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px;
}

.select {
  position: relative;
  cursor: pointer;
}
.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #fff;
}
.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 45px;
  height: 100%;
  background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0 45px 0 25px;
  white-space: nowrap;
  text-transform: none;
  text-overflow: ellipsis;
}
.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}
.select .select-options-list {
  padding: 0px 0px 0px 0px;
}
.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
  color: #000;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 18px;
  height: 50px;
  border: 2px solid #959595;
  background-color: #252525;
  color: #959595;
  font-size: 15px;
}
.input.err {
  border: 2px solid red;
}

textarea.input {
  resize: none;
  height: 100px;
  padding: 10px 18px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}
.check input {
  display: none;
}
.check:before {
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}
.check.active:before {
  background: url("../img/icons/check.png") center no-repeat;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}
.option:last-child {
  margin-bottom: 0px;
}
.option input {
  display: none;
}
.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}
.option.active:before {
  background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.rating.edit .star {
  cursor: pointer;
}
.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
}

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300;
}

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
}
.quantity__btn:before {
  font-size: 25px;
  display: inline-block;
  line-height: 10px;
  color: #a9a9a9;
}
.quantity__btn:hover:before {
  color: #da0005;
}
.quantity__btn.dwn {
  top: 25px;
}

.category-params-item-price-table {
  margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
  padding-right: 15px;
  position: relative;
}
.category-params-item-price-table .cell:first-child:after {
  content: "-";
  position: absolute;
  right: -4px;
  top: 8px;
  font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
  padding-left: 15px;
}
.category-params-item-price-table .cell input {
  height: 37px;
  border: 2px solid #393939;
  background-color: #ffffff;
  text-align: center;
  font-size: 12px;
  color: #393939;
  font-weight: 500;
  width: 100%;
}

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-range {
  background-color: #000;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-handle {
  width: 23px;
  height: 28px;
  border: 3px solid #fbfbfb;
  background-color: #ea5922;
  display: block;
  position: absolute;
  top: -14px;
  margin-left: -12px;
  cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 50px;
  text-align: center;
  font-size: 10px;
  margin-left: -25px;
  font-weight: 500;
  color: #94a6aa;
}

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px;
}
@media (max-width: 797px) {
  .form__info {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
  background-color: #093454;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
  background: url("../img/icons/range.svg") 0 0 no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  margin: -9px 0px 0px -14px;
  top: 0;
  left: 0;
  cursor: pointer;
}
.form-range-line .ui-state-hover {
  background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
  display: flex;
  justify-content: space-between;
  padding: 14px 0px 0px 0px;
}

.form-range-values__item {
  font-size: 12px;
  color: #888;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 797px) {
  .footer__row {
    justify-content: center;
  }
}
@media (max-width: 797px) {
  .footer__label {
    margin-top: 10px;
  }
}

.container {
  max-width: 869px;
  margin: 0 auto;
  padding: 15px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.private {
  display: flex;
  position: relative;
  z-index: 0;
  background-color: #000;
}
.private__column {
  flex: 0 0 50%;
}
.private__image {
  height: 100%;
}

.private-body {
  padding: 80px 0 80px 60px;
}
.private-body__title {
  color: #ffffff;
  font-family: "Akzidenz Grotesk BQ - Bd Cnd";
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 33px;
}
.private-body__text {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 55px;
}

.private-body-content {
  max-width: 310px;
}

.private-body-buttons__item {
  margin-right: 12px;
}
.private-body-buttons__link {
  color: #fffffe;
  font-family: Bebas;
  font-size: 15px;
  line-height: 25px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.products {
  padding-top: 70px;
  padding-bottom: 40px;
}

.products-body {
  display: flex;
  flex-wrap: wrap;
}

.products__column {
  flex: 0 0 25%;
}

.products-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.products-item__image {
  display: block;
  padding: 0px 0px 100% 0px;
  margin-bottom: 20px;
}
.products-item__title {
  max-width: 121px;
  margin-bottom: 35px;
  color: #000000;
  font-family: "Akzidenz Grotesk BQ - Bd Cnd";
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.products-item__text {
  max-width: 185px;
  margin-bottom: 32px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
  flex: 1 1 auto;
}
.products-item__btn {
  margin-bottom: 29px;
}
.products-item__link {
  margin-bottom: 40px;
  color: #000000;
  font-family: Bebas;
  font-size: 15px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media (max-width: 767px) {
  .products__column {
    flex: 0 0 50%;
  }

  .products__column {
    margin-bottom: 30px;
  }
  .products__column:last-child {
    margin-bottom: 0;
  }

  .products-item__text {
    max-width: 240px;
  }

  .products-item__title {
    max-width: 250px;
  }
}
@media (max-width: 380px) {
  .products__column {
    flex: 0 0 100%;
  }

  .products-item__text {
    max-width: none;
  }

  .products-item__title {
    max-width: none;
  }
}
.why {
  background-color: #ebebeb;
}

.why-top {
  display: flex;
  background-color: #000;
}
.why-top__column {
  flex: 0 0 50%;
}
.why-top__text {
  color: #ffffff;
  font-family: "Akzidenz Grotesk BQ - Bd Cnd";
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: right;
  padding: 57px 61px 57px 0;
}
.why-top__img {
  height: 100%;
}
@media (max-width: 992px) {
  .why-top__img {
    display: none;
  }
  .why-top__column {
    flex: 0 0 100%;
  }
  .why-top__text {
    text-align: center;
    padding: 57px 0px;
  }
}
@media (max-width: 767px) {
  .why-top__text {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .why-top__text {
    font-size: 30px;
  }
}

.why-body .why-body-row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.why-body__column {
  flex: 0 0 50%;
  display: flex;
  padding-top: 50px;
}
.why-body__icon {
  background-color: #000;
  flex: 0 0 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-body__body {
  flex: 1 1 100%;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}
.why-body__title {
  flex: 1 1 auto;
  color: #000000;
  font-family: "Akzidenz Grotesk BQ - Bd Cnd";
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.why-body__text {
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
}
@media (max-width: 992px) {
  .why-body__column {
    flex: 1 1 100%;
    display: flex;
    padding-top: 30px;
  }
  .why-body__icon {
    flex: 0 0 80px;
    height: 80px;
  }
}

.contacts {
  padding-top: 60px;
}
.contacts__title {
  color: #000000;
  font-family: "Akzidenz Grotesk BQ - Bd Cnd";
  font-size: 50px;
  text-transform: uppercase;
}

.contacts-body {
  display: flex;
  flex-wrap: wrap;
}
.contacts-body__column {
  flex: 0 0 50%;
  margin-top: 15px;
}
.contacts-body__item {
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  padding-left: 30px;
  line-height: 27px;
  display: inline-block;
}
.contacts-body__item--1 {
  background: url("../../img/block_contacts/01.png") left no-repeat;
}
.contacts-body__item--2 {
  background: url("../../img/block_contacts/02.png") left no-repeat;
}
.contacts-body__item--3 {
  background: url("../../img/block_contacts/03.png") left no-repeat;
}

.contacts-body-social__item {
  margin-right: 31px;
}

.contacts-content {
  display: flex;
  flex-wrap: wrap;
}
.contacts-content__column {
  flex: 0 0 50%;
}
.contacts-content__map {
  height: 100%;
}

.contacts-content-form {
  background-color: #000;
  padding: 55px 0 0 60px;
}
.contacts-content-form__title {
  color: #ffffff;
  font-family: "Akzidenz Grotesk BQ - Bd Cnd";
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.contacts-content-form-body {
  max-width: 380px;
  padding-bottom: 40px;
}

.contacts-content-form-line {
  margin-top: 25px;
}

.contacts-content-form-button {
  margin-top: 25px;
}

@media (max-width: 767px) {
  .contacts-body__column {
    flex: 0 0 100%;
  }

  .contacts-content-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }

  .contacts-content__column {
    flex: 0 0 100%;
  }

  .contacts-content__map {
    height: 300px;
  }
}